input{
    border: solid gray 1px ; 
    border-radius:4px;
    padding: 6px 0px ;
    margin-right: 7px;
    text-align: center;
    width: 30%;
    min-width:137px;
    max-width: 200px;
    
}
.FaDeleteLeft{
    color: antiquewhite;
}
@media (max-width: 534px) {
    *{
        display:column;
    }
    .infoInput{
        display: flex;
    }
    
}